﻿@model ChatRooms.WebApp.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row centered-wrapper">
        <!--Logo-->
        <div class="col l6 m6 s12">
            <img src="~/Content/images/chat-logo.png" id="chat-logo" />
        </div>

        <!--Input form-->
        <div class="col l6 m6 s12">
            <h4>@Resx.SharedStrings.Log_in</h4>
            <div class="login-form">
                @Html.Partial("LoginForm")
            </div>
        </div>
    </div>
    <!--Short info-->
    
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}