﻿@model ChatRooms.WebApp.ViewModels.LoginViewModel

<div id="loginUserArea">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "")
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <label for="Name">@Resx.SharedStrings.Name</label>
                    @Html.EditorFor(model => model.Name, new { @id = "Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "validate" })
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="Password" type="password" class="validate" name="Password" placeholder="@Resx.SharedStrings.Provide_password_for_member_login">
                    <label for="Password">@Resx.SharedStrings.Password</label>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light right" type="submit">
                        @Resx.SharedStrings.CHAT<i class="mdi-content-send right"></i>
                    </button>
                </div>
            </div>
        </form>
    }
</div>