﻿@model ChatRooms.WebApp.ViewModels.RegisterView

@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row centered-wrapper">
        <!--Logo-->
        <div class="col l6 m6 s12">
            <img src="~/Content/images/chat-logo.png" id="chat-logo" />
        </div>

        <!--Input form-->
        <div class="col l6 m6 s12">
            <h4>Register</h4>
            <div class="login-form">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "")
                    <form>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="Name">@Resx.SharedStrings.Name</label>
                                @Html.EditorFor(model => model.Name, new { @id = "Name" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.EditorFor(model => model.Password, new { @id = "Password" })
                                <label for="Password">Password</label>
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                @Html.EditorFor(model => model.ConfirmPassword, new { @id = "PasswordR" })
                                <label for="PasswordR">Confirm password</label>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light right" type="submit">
                                    Register<i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

