﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/material")
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="white">
                <div class="nav-wrapper nav-padding">
                    <a class="brand-logo black-text truncate" href="/ChatRooms/Browse">&nbsp;&nbsp;&nbsp; Chat Rooms</a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <!--Desktop navigation-->
                        <div class="right user-avatar hide-on-small-and-down" id="user-avatar-menu">
                            <a class="dropdown-button btn-floating btn-large black" data-activates="account-menu">
                                <img src="~/Content/images/avatar.png" class="responsive-img circle">
                            </a>
                        </div>

                        <ul class="right hide-on-med-and-down">
                            <li><a href="/ChatRooms/Browse" class="black-text">@Resx.SharedStrings.Rooms</a></li>
                            <li><a href="/ChatRooms/About" class="black-text">@Resx.SharedStrings.About</a></li>

                            <!--Languages dropdown-->
                            <li>
                                <a class="dropdown-button" href="#!" data-activates="language_dropdown">
                                    <i class="mdi-action-language black-text"></i>
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <div class="right hide-on-med-and-down ">
                            <a href="/Account/Register" class="waves-effect waves-indigo btn-flat">@Resx.SharedStrings.SIGN_UP</a>
                            <a href="/Account/Login" class="waves-effect waves-light btn indigo darken-2">@Resx.SharedStrings.LOGIN</a>
                        </div>

                        <ul class="right">
                            <!--Languages dropdown-->
                            <li>
                                <a class="dropdown-button" href="#!" data-activates="language_dropdown">
                                    <i class="mdi-action-language black-text"></i>
                                </a>
                            </li>
                            <li class="hide-on-med-and-down">
                                <a href="/ChatRooms/About" class="black-text">@Resx.SharedStrings.About</a>
                            </li>
                        </ul>
                    }

                    <!--User account dropdown menu-->
                    <ul id="account-menu" class="dropdown-content collection with-header">
                        <li class="collection-header"><h5>@User.Identity.Name</h5></li>
                        <li>
                            <a href="#">
                                <span class="mdi-action-toc left menu-image"></span>
                                <span class="menu-title">@Resx.SharedStrings.Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Account/Logout">
                                <span class="mdi-action-exit-to-app left menu-image"></span>
                                <span class="menu-title">@Resx.SharedStrings.Log_out</span>
                            </a>
                        </li>
                    </ul>

                    <!-- Language dropdown menu -->
                    <ul id="language_dropdown" class="dropdown-content">
                        <li>@Html.ActionLink("English", "ChangeCulture", "Locales", new { lang = "en", returnUrl = this.Request.RawUrl }, new { @class = "black-text" })</li>
                        <li>@Html.ActionLink("Italiano", "ChangeCulture", "Locales", new { lang = "it", returnUrl = this.Request.RawUrl }, new { @class = "black-text" })</li>
                        <li>@Html.ActionLink("Українська", "ChangeCulture", "Locales", new { lang = "uk", returnUrl = this.Request.RawUrl }, new { @class = "black-text" })</li>
                        <li>@Html.ActionLink("Русский", "ChangeCulture", "Locales", new { lang = "ru", returnUrl = this.Request.RawUrl }, new { @class = "black-text" })</li>
                    </ul>

                    <!--Mobile navigation-->
                    <div class="side-nav" id="nav-mobile">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul>
                                <li class="black-text active">@User.Identity.Name</li>
                                <li><a href="/ChatRooms/Browse" class="black-text">@Resx.SharedStrings.Rooms</a></li>
                                <li><a href="/ChatRooms/About" class="black-text">@Resx.SharedStrings.About</a></li>
                                <li><a href="/Account/Logout">@Resx.SharedStrings.Log_out</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li><a href="/ChatRooms/About">@Resx.SharedStrings.About</a></li>
                            </ul>
                            <div class="row">
                                <span class="col s6"><a href="#" class="waves-effect waves-indigo btn-flat">@Resx.SharedStrings.SIGN_UP</a></span>
                                <span class="col s6"><a href="/Account/Login" class="waves-effect waves-light btn indigo darken-2 white-text">@Resx.SharedStrings.LOGIN</a></span>
                            </div>
                        }
                    </div>

                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu black-text"></i></a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)
</body>
</html>
