﻿.centered-wrapper {
    margin-top: 10%;
}

.login-form {
    padding: 0px;
}

.chatroom-wrapper {
}


.message-wrapper {
    height: 400px;
    overflow-y: scroll;
}

.send-wrapper {
    padding: 10px;
    border: 1px solid #e3e3e3;
    background-color: white;
}

.message {
    height: auto !important;
    overflow-y: visible !important;
}

.nav-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.user-avatar {
    padding-left: 20px;
    padding-right: 30px;
}

.menu-image {
    display: inline-block;
    font-size: 2rem;
}

.menu-title {
    display: inline-block;
    font-size: 18px;
    padding-left: 10px;
}

#chat-logo {
    width: 80%;
    height: auto;
}

.login-switch-button {
    margin-top: 20px;
}

.room-actions-wrapper {
    margin-top: 20px;
}

.room-users-wrapper {
    overflow: hidden;
    color: black;
}

    .room-users-wrapper:hover {
        overflow-y: scroll;
    }

.room-search {
    padding: 0px !important;
    margin: 0px !important;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}

.room-layout {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    .room-layout {
        padding-left: 0;
    }
}

.btn-formula {
    margin-left: 15px;
}
