﻿
@{
    ViewBag.Title = "About";
}

<div class="parallax-container">
    <div class="parallax"><img src="~/Content/images/background2.jpg" alt="background"></div>

    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h1><br /><br /></h1>
            </div>
            <div class="row center">
                <h2 class="white-text center">@Resx.SharedStrings.INFO</h2>

                <ul class="white-text right">
                    <li>
                        @Resx.SharedStrings.INFOone
                    </li>
                    <li>
                        @Resx.SharedStrings.INFOtwo
                    </li>
                    <li>
                        @Resx.SharedStrings.INFOthree
                    </li>
                </ul>
            </div>           
        </div>
    </div>
</div>


<div class="parallax-container">
    <div class="parallax"><img src="~/Content/images/sad-cat.jpg" alt="background"></div>
</div>
