﻿@model ChatRooms.WebApp.ViewModels.BrowseRoomViewModel

@{
    ViewBag.Title = "Browse";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery.autocomplete.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var response = @Html.Raw(Json.Encode(ViewData["ModelIsValid"]));

            if( response != null && response == 'false' ){
                $('#createRoomModal').openModal();
            }
        });

        $(function () {

            var rooms = [];

            var onSuccess = function (data) {
                for (var i = 0; i < data[0]['Count']; i++) {
                    rooms.push({
                        value: data[i]['Name'],
                        data: data[i]['ChatRoomId']
                    });
                }
            };

            $.ajax({
                type: 'GET',
                url: '/ChatRooms/GetAllRoomsLookup/',
                success: function (data) { onSuccess(data) },
                traditional: true
            });

            $('#autocomplete').autocomplete({
                lookup: rooms,
                onSelect: function (suggestion) {
                    window.location.href = "/ChatRooms/Room?roomId=" + suggestion.data;
                }
            });

            $('#autocomplete').blur(function () {
                $(this).val("");
            });
        });

    </script>
}

<div class="container">

    <h4 class="center-align">@Resx.SharedStrings.Find_Chat_Room</h4>
    <p class="center-align">@Resx.SharedStrings.Select_a_room_you_would_like_to_join_from_the_list_below</p>

    <div class="row room-actions-wrapper">
        <nav class="teal lighten-1">
            <div class="nav-wrapper">
                <div class="col m6 s8 room-search">
                    <form>
                        <div class="input-field" id="searchfield">
                            <input id="autocomplete" type="search" placeholder="@Resx.SharedStrings.Find_chatroom" required>
                            <label for="autocomplete"><i class="mdi-action-search"></i></label>
                            <i class="mdi-navigation-close"></i>
                        </div>
                    </form>
                </div>
                <div class="col m6 s4">
                    <ul class="right">
                        <li>
                            <a class="modal-trigger waves-effect" href="#createRoomModal">
                                <span class="hide-on-small-and-down">@Resx.SharedStrings.Create_Chatroom</span>
                                <i class="mdi-content-add right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="rooms-wrapper">
            <div class="collection">
                @foreach (var item in Model.Rooms)
                {

                    <a href="@Url.Action("Room", "ChatRooms" , new { roomid=item.ChatRoomId } )" class="collection-item">
                        @item.Name
                        <span class="badge">@item.Users.Count</span>
                    </a>
                }
            </div>
        </div>
    </div>

    <!-- Modal Create Room -->
    <div id="createRoomModal" class="modal modal-fixed-footer">
        @Html.Partial("CreateChatRoomModalWindow", Model.CreateRoom)
    </div>
</div>