﻿@model ChatRooms.WebApp.ViewModels.CreateRoomViewModel

@using (Html.BeginForm("Create", "ChatRooms", FormMethod.Post))
{
    <form id="roomForm">
        <div class="modal-content">
            <h4>Create your chat room</h4>
            <div class="red-text">
                @Html.ValidationSummary(true, "")
            </div>
            <br />

            <div class="row">
                <div class="input-field col s12">
                    @Html.EditorFor(model => model.Name, new { @id = "room_name", @class = "validate" })
                    <label for="room_name">@Resx.SharedStrings.Room_name</label>
                    @Html.ValidationMessageFor(room => room.Name)
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <b>Few small tips to know before creating your own chatroom:</b>
                </div>
                <br />
                <br />
                <div class="col s12 m4">
                    <p class="light">
                        You will need to invite people to your chatroom, otherwise it will be forever empty!
                    </p>
                </div>

                <div class="col s12 m4">
                    <p class="light">
                        As a chatroom owner you will get access to the moderator panel,
                        where you can customize your chatroom, kick or ban people and remove messages from the chat.
                    </p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="modal-action btn waves-effect waves-light right" id="bnt-submit" type="submit">
                @Resx.SharedStrings.CREATE
            </button>
        </div>
    </form>
}