﻿@{
    ViewBag.Title = "View";
}

@section scripts{
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
}
<head>
    <meta charset="utf-8">
    <title>Help</title>
</head>
<body>
    <div class="row center">
        <h4>Help</h4>
    </div>
    <div class="container row">

        <div class="col s12" style=" margin: 0px 0px 10px 10px;">
            This is brief info about how to use latex expretions.We will look how to use intline and centered expretions and not only them:
        </div>

        <div style=" margin: 0px 0px 10px 30px;">
            <ul>
                <li class="toclevel-1 tocsection-3"><a href="#Mathematics"><span class="toctext">Mathematics environments</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#Symbols"><span class="toctext">Symbols</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#Operators"><span class="toctext">Operators</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#Powers_and_indicates"><span class="toctext">Powers and indices</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#Fractions"><span class="toctext">Fractions and Binomials</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#Roots"><span class="toctext">Roots</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#Sums_and_Integrals"><span class="toctext">Sums and integrals</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#Matrices_and_arrays"><span class="toctext">Matrices and arrays</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#Adding_text_to_equations"><span class="toctext">Adding text to equations</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#Examplas"><span class="toctext">Examplas</span></a></li>                
               
            </ul>
        </div>

        <div style=" margin: 0px 20px 0px 20px;">
            <a name="Mathematics">
            </a>
            <h5>Mathematics environments</h5>
            <div class="divider"></div>
            <!--Тут відступ робить і через то внизу скролер-->
            <p class="col s12" style=" margin: 0px 10px 0px 10px;">
                LaTeX needs to know beforehand that the subsequent text does indeed contain mathematical elements. This is because LaTeX typesets maths notation differently from normal text.
                Therefore, special environments have been declared for this purpose. They can be distinguished into two categories depending on how they are presented:
            </p>

            <ul class="collection" style="margin: 20px 10px 10px 30px">
                <li>1) <i>text</i> — text formulas are displayed inline, that is, within the body of text where it is declared, for example, I can say that <i>a</i> + <i>a</i> = 2<i>a</i> within this sentence.</li>
                
                    <li class="collection-item">
                        <span class="row top"> </span>                        
                        <p> Some \(n^{22}\) text</p>
                    </li>
                
                <li>2) <i>displayed</i> — displayed formulas are separate from the main text.</li>
                
                    <li class="collection-item">
                        <span class="row top"></span>                        
                        <p> Some \[n^{22}\] text </p>
                    </li>
                
            </ul>
            <p class="col s12" style=" margin: 0px 10px 0px 10px;">
                To write expretions in text you need to use(inline):   <span style=" font-weight: 600">\(</span>...<span style=" font-weight: 600">\)</span>
            </p>

            <p class="col s12" style=" margin: 0px 10px 0px 10px;">
                To write expretions separated from text:   <span style=" font-weight: 600">\[</span>...<span style=" font-weight: 600">\]</span>
            </p>
        </div>
        <!--Symbols FUCK-->
        <div style=" margin: 0px 20px 0px 20px;">
            <a name="Symbols">
            </a>
            <h5>Symbols</h5>
            <div class="divider"></div>

            <p class="col s12">
                Mathematics has many symbols!  One of the most difficult aspects of learning LaTeX is remembering how to produce symbols. There is of course a set of symbols that can be accessed directly from the keyboard:
                <ul class="collection">
                    <li class="collection-item" style=" margin: 0px 20px 0px 20px;">
                        <span class="row top"> + - = ! / ( ) [ ] < > | ' : </span>
                    </li>
                </ul>
            </p>
            <p class="col s12"> Here Some of the symbols:</p>
            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\forall,  \in,  \exists,  \leq,  \epsilon </span>
                    <p> $\forall$,  $\in$,  $\exists$,  $\leq$,  $\epsilon$</p>
                </li>
            </ul>
            <p>
                Greek letters are commonly used in mathematics, and they are very easy to type in math mode. You just have to type the name of the letter after a backslash: if the first letter is lowercase,
                you will get a lowercase Greek letter, if the first letter is uppercase (and only the first letter), then you will get an uppercase letter. Note that some uppercase Greek letters look like Latin ones,
                so they are not provided by LaTeX (e.g. uppercase Alpha and Beta are just "A" and "B" respectively). Lowercase epsilon, theta, kappa, phi, pi, rho, and sigma are provided in two different versions. The
                alternate, or variant, version is created by adding "var" before the name of the letter:
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\alpha,  \beta,  \gamma, \Gamma, \pi, \Pi, \phi, \varphi, \Phi </span>
                    <p> $\alpha$, $\beta$ , $\gamma$ , $\Gamma$ , $\pi$ , $\Pi$ , $\phi$ , $\varphi$ , $\Phi$ </p>
                </li>
            </ul>

           

        </div>

        <!--Operators FUCK-->
        <div style=" margin: 0px 20px 0px 20px;">
            <a name="Operators">
            </a>
            <h5>Operators</h5>
            <div class="divider"></div>

            <p class="col s12"> An operator is a function that is written as a word: e.g. trigonometric functions (sin, cos, tan), logarithms and exponentials (log, exp). LaTeX has many of these defined as commands:</p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\cos (2\theta) = \cos^2 \theta - \sin^2 \theta </span>
                    <p>$\cos (2\theta) = \cos^2 \theta - \sin^2 \theta$</p>
                </li>
            </ul>

            <p class="col s12"> For certain operators such as limits, the subscript is placed underneath the operator:</p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\lim_{x \to \infty} \exp(-x) = 0 </span>
                    <p>$\lim_{x \to \infty} \exp(-x) = 0$</p>
                </li>
            </ul>
            <p class="col s12"> For the modular operator there are two commands: \bmod and \pmod:</p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">a \bmod b </span>
                    <p>$a \bmod b$</p>
                </li>
                <li class="collection-item">
                    <span class="row top">x \equiv a \pmod b </span>
                    <p>$x \equiv a \pmod b$</p>
                </li>
            </ul>

        </div>

        <!-- Powers and Indicates FUCK-->
        <div style=" margin: 0px 20px 0px 20px;">
            <a name="Powers_and_indicates">
            </a>
            <h5>Powers and Indicates </h5>
            <div class="divider"></div>
            <p class="col s12">
                Powers and indices are equivalent to superscripts and subscripts in normal text mode. The caret (<span style=" font-weight: 600">^</span>) character is used to raise something, and the
                underscore (<span style=" font-weight: 600">_</span>) is for lowering.
                If more than one expression is raised or lowered, they should be grouped using curly braces (<span style=" font-weight: 600">{</span> and <span style=" font-weight: 600">}</span>).
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">k_{n+1} = n^2 + k_n^2 - k_{n-1} </span>
                    <p>$k_{n+1} = n^2 + k_n^2 - k_{n-1}$</p>
                </li>
            </ul>
            <p class="col s12">
                For powers with more than one digit, surround the power with <span style=" font-weight: 600">{}</span>:
            </p>
            <ul class="collection">
                <li class="collection-item">
                    <span class="row top"> n^{22} </span>
                    <p>$n^{22}$</p>
                </li>
            </ul>
            <p class="col s12">
                An underscore (<span style=" font-weight: 600">_</span>) can be used with a vertical bar (<span style=" font-weight: 600">|</span>) to denote evaluation using subscript notation in mathematics:
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top"> f(n) = n^5 + 4n^2 + 2 |_{n=17} </span>
                    <p>$f(n) = n^5 + 4n^2 + 2 |_{n=17}$</p>
                </li>
            </ul>

        </div>

        <!--Fractions and Binomials FUCK-->
        <div style=" margin: 0px 20px 0px 20px;">
            <a name="Fractions">
            </a>
            <h5>Fractions and Binomials </h5>
            <div class="divider"></div>


            <p>
                A fraction is created using the <span style=" font-weight: 600">\frac{numerator}{denominator}</span> command. (for those who need their memories refreshed, that's the top and bottom respectively!).
                Likewise, the binomial coefficient (aka the Choose function) may be written using the \binom command
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\frac{n!}{k!(n-k)!} = \binom{n}{k} </span>
                    <p>$\frac{n!}{k!(n-k)!} = \binom{n}{k}$</p>
                </li>
            </ul>

            <p>
                You can embed fractions within fractions:
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\frac{\frac{1}{x}+\frac{1}{y}}{y-z} </span>
                    <p>$\frac{\frac{1}{x}+\frac{1}{y}}{y-z}$</p>
                </li>
            </ul>



            <p>
                For relatively simple fractions, especially within the text, it may be more aesthetically pleasing to use powers and indices:
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">{{}^{3}\!/_{7}} </span>
                    <p>${{}^{3}\!/_{7}}$</p>
                </li>
            </ul>
            <p>
                Continued fractions should be written using \frac command:
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">
                        \begin{equation} $
\frac{1}{\displaystyle 1+
	\frac{1}{\displaystyle 2+
		<span>\frac{1}{\displaystyle 3+x}}} +</span>
    \frac{1}{1+\frac{1}{2+\frac{1}{3+x}}}
    $
</span>
                    <p>
                        $
\frac{1}{\displaystyle 1+
	\frac{1}{\displaystyle 2+
		\frac{1}{\displaystyle 3+x}}} +
\frac{1}{1+\frac{1}{2+\frac{1}{3+x}}}
                        $
                    </p>
                </li>
            </ul>

            <p>
                To make multiplication visually similar to a fraction, a nested array can be used, for example multiplication of numbers written one below the other:
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">
                        <p>
                            \begin{equation}
                            \frac{
                            \begin{array}[b]{r}
                            \left( x_1 x_2 \right)\\
                            <span>\times \left( x'_1 x'_2 \right)</span>

                            \end{array}
                            }{
                            \left( y_1y_2y_3y_4 \right)
                            }
                            \end{equation}
                        </p>
                    </span>
                    <p>
                        \begin{equation}
                        \frac{
                        \begin{array}[b]{r}
                        \left( x_1 x_2 \right)\\
                        \times \left( x'_1 x'_2 \right)
                        \end{array}
                        }{
                        \left( y_1y_2y_3y_4 \right)
                        }
                        \end{equation}
                    </p>
                </li>
            </ul>

        </div>

        <!--Roots FUCK-->
        <div style=" margin: 0px 20px 0px 20px;">
            <a name="Roots">
            </a>
            <h5>Roots </h5>
            <div class="divider"></div>

            <p>
                The <span style=" font-weight: 600">\sqrt</span> command creates a square root surrounding an expression. It accepts an optional argument specified in square
                brackets (<span style=" font-weight: 600">[</span> and <span style=" font-weight: 600">]</span>) to change magnitude:
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\begin{equation} \sqrt{\frac{a}{b}}</span>
                    <img src="https://upload.wikimedia.org/math/9/a/c/9ac55c571b112fba4b527b8b1eb19e17.png" alt="">
                </li>
                <li class="collection-item">
                    <span class="row top">\begin{equation} \sqrt[n]{1+x+x^2+x^3+\ldots}</span>
                    <img src="//upload.wikimedia.org/math/9/a/c/9ac55c571b112fba4b527b8b1eb19e17.png" alt="">
                </li>
            </ul>
        </div>

        <!--Sums and integrals FUCK-->
        <div style=" margin: 0px 20px 0px 20px;">
            <a name="Sums_and_Integrals">
            </a>
            <h5>Sums and integrals </h5>
            <div class="divider"></div>
            <p>
                The <span style=" font-weight: 600">\sum </span>and <span style=" font-weight: 600">\int</span> commands insert the sum and integral symbols respectively, 
                with limits specified using the caret (<span style=" font-weight: 600">^</span>) and underscore (<span style=" font-weight: 600">_</span>). The typical notation for sums is:
</p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\sum_{i=1}^{10} t_i</span>
                    <p>$\sum_{i=1}^{10} t_i$</p>
                </li>
                <li class="collection-item">
                    <span class="row top">\displaystyle\sum_{i=1}^{10} t_i</span>
                    <p>$\displaystyle\sum_{i=1}^{10} t_i$</p>
                </li>
            </ul>

            <p>
                The limits for the integrals follow the same notation. It's also important to represent the integration variables with an upright d,
                 which in math mode is obtained through the <span style=" font-weight: 600">\mathrm{}</span> command, and with a small space separating it from the integrand, which is attained with the \, command.
</p>
            
            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\int_0^\infty \mathrm{e}^{-x}\,\mathrm{d}x</span>
                    <p>$\int_0^\infty \mathrm{e}^{-x}\,\mathrm{d}x$</p>
                </li>
            </ul>
            <table>
                <tbody>
                    <tr>
                        <td>\sum</td>
                        <td><img src="//upload.wikimedia.org/math/a/c/7/ac7f09b38dcca23ed4d3114e54492f16.png" alt=""></td>
                        <td>\bigoplus</td>
                        <td><img src="//upload.wikimedia.org/math/b/4/a/b4a80aa62086eef9a69f3a6807455458.png" alt=""></td>
                        <td>\coprod</td>
                        <td><img src="//upload.wikimedia.org/math/1/3/7/13701d9b28b21d0b161ae95377ba5446.png" alt=""></td>
</tr>
                    <tr>
                        <td>\bigoplus</td>
                        <td><img src="//upload.wikimedia.org/math/1/7/e/17e0badeeb2a6501df77203521a6501d.png" alt=""></td>
                        <td>\bigotimes</td>
                        <td><img src="//upload.wikimedia.org/math/9/f/3/9f3cab49d684e7498a965b3e9d3c1524.png" alt=""></td>
                        <td>\bigodot</td>
                        <td><img src="//upload.wikimedia.org/math/9/6/a/96a7b9d0ce387adfe7c6f3b873a0b76a.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>\bigcup</td>
                        <td><img src="//upload.wikimedia.org/math/8/d/5/8d50523fd64ca129ae09c7ae73e1385f.png" alt=""></td>
                        <td>\bigcap</td>
                        <td><img src="//upload.wikimedia.org/math/d/d/f/ddf86464dcc2190258c76ddc1da7032a.png" alt=""></td>
                        <td>\biguplus</td>
                        <td><img src="//upload.wikimedia.org/math/9/0/2/902effd4844ae7dbd71f9f3cecec25f0.png" alt=""></td>
                    </tr>

                    <tr>
                        <td>\bigsqcup</td>
                        <td><img src="//upload.wikimedia.org/math/b/f/6/bf60615860b12ad8b31cc27645fc5224.png" alt=""></td>
                        <td>\bigvee</td>
                        <td><img src="//upload.wikimedia.org/math/a/f/2/af2beebc69c64f6a9a59db61113e14a0.png" alt=""></td>
                        <td>\bigwedge</td>
                        <td><img src="//upload.wikimedia.org/math/6/c/1/6c1357f344d79b14bbd6a43c112f36db.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>\int</td>
                        <td><img src="//upload.wikimedia.org/math/f/e/8/fe8609fc395704f6ba0420eb485cd0f6.png" alt=""></td>
                        <td>\oint</td>
                        <td><img src="//upload.wikimedia.org/math/0/5/8/058bf10c50ba4ee074da24c60a590314.png" alt=""></td>
                        <td>\iint</td>
                        <td><img src="//upload.wikimedia.org/math/0/e/6/0e66f8f6b272ca5db6f0b3f1c63a7560.png" alt=" "></td>
                    </tr>
                    <tr>
                        <td>\iiint</td>
                        <td><img src="//upload.wikimedia.org/math/2/b/1/2b16b3df11903f404b3d454f8c51cf78.png" alt=""></td>
                        <td>\iiiint</td>
                        <td><img src="//upload.wikimedia.org/math/c/3/a/c3ab63707fd179b198cf72c9ef4c7051.png" alt=""></td>
                        <td>\idotsint</td>
                        <td><img src="//upload.wikimedia.org/math/6/3/f/63fe46019f9aa7c23b58467f02793ae2.png" alt=""></td>
                    </tr>

                </tbody>
            </table>

            <p>                
                The <span style=" font-weight: 600">\substack</span> command allows the use of <span style=" font-weight: 600">\\</span> to write the limits over multiple lines:
</p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\sum_{\substack{ 0< i < m \\ 0< j< n }} P(i,j)</span>
                    <p>$\sum_{\substack{ 0< i < m \\ 0< j< n }} P(i,j)$</p>
                </li>
            </ul>

            <p>
                If you want the limits of an integral to be specified above and below the symbol (like the sum), use the <span style=" font-weight: 600">\limits</span> command:
</p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">\int\limits_a^b</span>
                    <p>$\int\limits_a^b$</p>
                </li>
            </ul>

        </div>


        <!--Matrices and arrays FUCK-->
        <div style=" margin: 0px 20px 0px 20px;">
            <a name="Matrices_and_arrays">
            </a>
            <h5>Matrices and arrays</h5>
            <div class="divider"></div>

            <p>
                A basic matrix may be created using the matrix environment: in common with other table-like structures, entries are specified by row, with columns separated using an ampersand (<span style=" font-weight: 600">&</span>) and a new rows separated with a double backslash (\\)
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">
                        \begin{matrix}<br>
                        a & b & c \\<br>
                        d & e & f \\<br>
                        g & h & i<br>
                        \end{matrix}
                    </span>
                    <img src="//upload.wikimedia.org/math/f/0/9/f0959a5db35e2f9e6a81dc88aa4d11a0.png" alt="">
                </li>
            </ul>

            <p>
                To specify alignment of columns in the table, use starred version
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">
                        \begin{matrix}
                        -1 & 3 \\
                        2 & -4
                        <span> \end{matrix} </span>
                        =
                        <span>\begin{matrix} </span>
                        -1 & 3 \\
                        2 & -4
                        \end{matrix}
                    </span>
                    <img src="//upload.wikimedia.org/math/0/8/a/08ad03f3f81ec1b2e160b30c9e8f2c0b.png" alt="">
                </li>
            </ul>

            <p>
                When writing down arbitrary sized matrices, it is common to use horizontal, vertical and diagonal triplets of dots
                (known as ellipses) to fill in certain columns and rows. These can be specified using the <span style=" font-weight: 600">\cdots</span>,
                <span style=" font-weight: 600">\vdots</span> and <span style=" font-weight: 600">\ddots</span> respectively:
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">
                        A_{m,n} =<br>
                        \begin{pmatrix}<br>
                        a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\<br>
                        <span>
                        a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\<br>
                        </span>
                        \vdots  & \vdots  & \ddots & \vdots  \\<br>
                        a_{m,1} & a_{m,2} & \cdots & a_{m,n}<br>
                        \end{pmatrix}<br>
                    </span>
                    <p>
                        $A_{m,n} =<br>
                        \begin{pmatrix}<br>
                        a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\<br>
                        a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\<br>
                        \vdots  & \vdots  & \ddots & \vdots  \\<br>
                        a_{m,1} & a_{m,2} & \cdots & a_{m,n}<br>
                        \end{pmatrix}<br>$
                    </p>
                </li>
            </ul>

            <p>
                In some cases you may want to have finer control of the alignment within each column, or want to insert lines between columns or rows.
                This can be achieved using the array environment, which is essentially a math-mode version of the tabular environment, which requires that the columns be pre-specified:
            </p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">
                        \begin{array}{c|c}<br>
                        1 & 2 \\<br>
                        <span>\hline<br></span>
                        3 & 4<br>
                        \end{array}
                    </span>
                    <p>
                        \begin{array}{c|c}<br>
                        1 & 2 \\<br>
                        \hline<br>
                        3 & 4<br>
                        \end{array}
                    </p>
                </li>
            </ul>

            <p>If you need "border" or "indexes" on your matrix, plain TeX provides the macro <span style=" font-weight: 600">\bordermatrix</span></p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">
                        M = \bordermatrix{~ & x & y \cr<br>
                        A & 1 & 0 \cr<br>
                        B & 0 & 1 \cr}<br>
                    </span>
                    <img src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Bordermatrix.png/150px-Bordermatrix.png" alt="">
                </li>
            </ul>

            <p>To insert a small matrix, and not increase leading in the line containing it, use <span style=" font-weight: 600">smallmatrix</span> environment:</p>

            <ul class="collection">
                <li class="collection-item">
                    <span class="row top">
                        A matrix in text must be set smaller:<br>
                        \bigl(\begin{smallmatrix}<br>
                        <span>>a&b \\ c&d<br></span>
                        \end{smallmatrix} \bigr)<br>
                        to not increase leading in a portion of text.<br>
                    </span>
                    <img src="//upload.wikimedia.org/wikipedia/commons/6/63/LaTeX-smallmatrix.png" alt="">
                </li>
            </ul>

        </div>

    <!--Adding text to equations FUCK-->
    <div style=" margin: 0px 20px 0px 20px;">
        <a name="Adding_text_to_equations">
        </a>
        <h5>Adding text to equations </h5>
        <div class="divider"></div>

        <p>The math environment differs from the text environment in the representation of text. Here is an example of trying to represent text within the math environment:</p>

        <ul class="collection">
            <li class="collection-item">
                <span class="row top">50 apples \times 100 apples = lots of apples^2</span>
                    <p>$50 apples \times 100 apples = lots of apples^2$</p>
            </li>
        </ul>

            <p>
                There are two noticeable problems: there are no spaces between words or numbers, and the letters are italicized and more spaced out than normal.
        Both issues are simply artifacts of the maths mode, in that it treats it as a mathematical expression: spaces are ignored (LaTeX spaces mathematics according to its own rules), 
        and each character is a separate element (so are not positioned as closely as normal text).

There are a number of ways that text can be added properly. The typical way is to wrap the text with the <span style=" font-weight: 600">
                    \text{...}
                </span> command  Let's see what happens when the above equation code is adapted:
</p>


        <ul class="collection">
            <li class="collection-item">
                    <span class="row top">
                        50 \text{apples} \times 100 \text{apples}
                        = \text{lots of apples}^2
                    </span>
                    <p>
                        $50 \text{apples} \times 100 \text{apples}
                        = \text{lots of apples}^2$
                    </p>
            </li>
        </ul>

            <p>
                The text looks better. However, there are no gaps between the numbers and the words. Unfortunately, you are required to explicitly add these.
                There are many ways to add spaces between maths elements, but for the sake of simplicity we may simply insert space characters into the <span style=" font-weight: 600">\text</span> commands.
            </p>

        <ul class="collection">
            <li class="collection-item">
                    <span class="row top">
                        50 \text{ apples} \times 100 \text{ apples} = \text{lots of apples}^2
                </span>
                    <p>$50 \text{ apples} \times 100 \text{ apples} = \text{lots of apples}^2$</p>
            </li>
        </ul>


        </div>

    <!--Exaples FUCK-->
    <div style=" margin: 0px 20px 0px 20px;">
        <a name="Examplas">
        </a>
        <h5>Examplas </h5>
        <div class="divider"></div>

        <ul class="collection">
            <li class="collection-item">
                    <span class="row top">$<span>x=\frac{1+y}{1+2z^2}</span>$<br>(inline)</span>
                    <p>$x=\frac{1+y}{1+2z^2}$</p>
            </li>

            <li class="collection-item">
                    <span class="row top">$$<span>x=\frac{1+y}{1+2z^2}</span>$$<br>(display)</span>
                    <p>$$x=\frac{1+y}{1+2z^2}$$</p>
            </li>

            <li class="collection-item">
                    <span class="row top">$<span>\int_0^\infty e^{-x^2} dx=\frac{\sqrt{\pi}}{2}$</span></span>
                    <p>$\int_0^\infty e^{-x^2} dx=\frac{\sqrt{\pi}}{2}$</p>
            </li>

            <li class="collection-item">
                <span class="row top">
                    $$
                    \frac{1}{\displaystyle 1+
                        <span>\frac{1}{\displaystyle 2+</span>
                        \frac{1}{\displaystyle 3+x}}} +
                        \frac{1}{1+\frac{1}{2+\frac{1}{3+x}}}
                        $$
                    </span>
                    <p>
                        $$
                        \frac{1}{\displaystyle 1+
                    \frac{1}{\displaystyle 2+
                    \frac{1}{\displaystyle 3+x}}} +
                    \frac{1}{1+\frac{1}{2+\frac{1}{3+x}}}
                    $$
                    </p>
            </li>

            <li class="collection-item">
                <span class="row top">
                    \begin{eqnarray*}
                        {w+x+y+z = }\\<br>
                        <span>&& a+b+c+d+e+\\<br></span>
                        && {}+f+g+h+i<br>
                        \end{eqnarray*}
                    </span>
                    <p>
                        \begin{eqnarray*}
                        {w+x+y+z = }\\<br>
                    && a+b+c+d+e+\\<br>
                    && {}+f+g+h+i<br>
                    \end{eqnarray*}
                    </p>
            </li>

            <li class="collection-item">
                <span class="row top">
                        $$\begin{array}{rclcl}
                        <span>x&=&\sin \alpha &=& \cos \beta\\<br></span>
                        &=&\cos(\pi-\alpha) &=& \sin(\pi-\beta)
                        \end{array}
                        $$
                    </span>
                    <p>
                        $$\begin{array}{rclcl}
                    x&=&\sin \alpha &=& \cos \beta\\<br>
                    &=&\cos(\pi-\alpha) &=& \sin(\pi-\beta)
                    \end{array}
                    $$
                    </p>
            </li>

            <li class="collection-item">
                <span class="row top">
                    $$
                        <span>\mathop{\int \!\!\! \int}_{\mathbf{x} \in \mathbf{R}^2}</span>
                        \! \langle \mathbf{x},\mathbf{y}\rangle
                        \,d\mathbf{x}
                        $$
                    </span>
                    <p>
                        $$
                    \mathop{\int \!\!\! \int}_{\mathbf{x} \in \mathbf{R}^2}
                    \! \langle \mathbf{x},\mathbf{y}\rangle
                    \,d\mathbf{x}
                    $$
                    </p>
            </li>


            <li class="collection-item">
                <span class="row top">
                    \begin{eqnarray}<br>
                    y &=& x^4 + 4      \nonumber \\<br>
                        <span>&=& (x^2+2)^2 -4x^2 \nonumber \\<br></span>
                        &\le&(x^2+2)^2<br>
                        \end{eqnarray}<br>
                    </span>
                    <p>
                        \begin{eqnarray}<br>
                        y &=& x^4 + 4      \nonumber \\<br>
                    &=& (x^2+2)^2 -4x^2 \nonumber \\<br>
                    &\le&(x^2+2)^2<br>
                    \end{eqnarray}<br>
                    </p>
            </li>

            <li class="collection-item">
                <span class="row top">
                    $$
                        <span>\underbrace{n(n-1)(n-2)\dots(n-m+1)}_</span>
                        {\mbox{total of $m$ factors}}
                        $$
                    </span>
                    <p>
                        $$
                    \underbrace{n(n-1)(n-2)\dots(n-m+1)}_
                    {\mbox{total of $m$ factors}}
                    $$
                    </p>
            </li>


        </ul>


    </div>

    </div>
    
</body>