﻿@{
    ViewBag.Title = "Kicked";
}


<div class="container">
    <br />
    <h2>Opps...</h2>
    <p>You was kicked for some reason.</p>
    <p>Try to be more polite next time</p>
    <a class="waves-effect waves-light btn red lighten-1" href="/ChatRooms/Browse/">Chat again</a>
</div>

