﻿@model ChatRooms.Models.ChatRoom

<ul class="collection" id="userList">
    @foreach (var user in Model.Users)
    {
        <li class="collection-item avatar" id="user">
            <i class="mdi-action-perm-identity circle"></i>
            <span class="title" id="usr_name_title">@user.Name</span>
            <span class="badge">
                @(user.IsOnline ? @Resx.SharedStrings.Online : @Resx.SharedStrings.Offline)
            </span>
            @if (User.Identity.Name == Model.OwnerName && user.Name != Model.OwnerName)
            {
                <a href='javascript:void(0);' class="cick_user right" data-username="@user.Name" data-room="@Model.Name"><i class="mdi-content-clear"></i></a>
            }
            @if (user.IsGuest)
            {
                <p>(guest)</p>
            }
        </li>
    }
</ul>
